/* Core Stuff */

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: rgb(192, 171, 158);
}

body {
    font-size: 1rem;
    line-height: 1.7;
    font-family: 'Lora', serif;
    color: black;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #131111;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    font-style: italic;
}

a {
    color: #460505;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

a:hover {
    color: #631f0a;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

pre {
    background: #D6C5BC;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #460505;
    margin: 0;
    padding: 0 2rem;
}


/* for the default page */

.main-content {
    margin: auto;
    padding: 1em;
    max-width: 70%;
    text-align: center;
}


/* Utility Classes */

.wrapper {
    margin: 0 3rem;
}

.padding {
    padding: 3rem 1rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


/* Content Styling */

.header .padding {
    padding: 1rem 0;
}

.header {
    background-color: rgb(192, 171, 158);
    color: #131111;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.header a {
    color: #460505;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.header .logo {
    font-size: 1.7rem;
    font-family: 'Lora', serif;
    font-style: italic;
    display: none;
}

.footer {
    background-color: rgb(192, 171, 158);
}


/* Menu Settings */

.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #131111;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav>ul>li>a {
    border-radius: 2px;
}


/*Active dropdown nav item */

.main-nav ul li:hover>a {
    background-color: #291515a4;
    color: #D6C5BC;
    text-shadow: none;
}


/* Selected Dropdown nav item */

.main-nav ul li.selected>a {
    background-color: #291515a4;
    color: #D6C5BC;
    text-shadow: none;
}


/* Dropdown CSS */

.main-nav ul li {
    position: relative;
}

.main-nav ul li ul {
    position: absolute;
    background-color: #D6C5BC;
    color: #631f0a;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    min-width: 100%;
    text-align: left;
    z-index: 999;
    display: none;
}

.main-nav ul li ul li {
    display: block;
}


/* Dropdown CSS */

.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}


/* Active on Hover */

.main-nav li:hover>ul {
    display: block;
}


/* Child Indicator */

.main-nav .has-children>a {
    padding-right: 30px;
}

.main-nav .has-children>a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children>a:after {
    content: '\f105';
}


/* Comic Formating */

.comic-page {
    background: rgb(192, 171, 158);
    margin: auto;
    padding: 2em;
}


/* this makes images responsive */

.comic-block img {
    max-width: 100%;
    box-shadow: 0px 0px 10px #131111;
}


/* character image styling */

.char-block {
    margin: auto;
    padding: 2em;
    max-width: 50%;
}

.char-block h1:before,
.char-block h2:before,
.char-block h3:before {
    content: '\2619';
    padding-right: 1em;
}

.char-pic {
    padding-right: 2em;
    float: left;
}

.char-pic img {
    max-height: 400px;
    box-shadow: 0px 0px 10px #131111;
}


/* Flex baseline of 140px is so that nave sections remain on smaller devices
even when there is no first/previous or next/last options */

.comic-nav {
    margin: auto;
    padding: 1em;
    flex: 0 40px;
    display: flex;
    max-width: 60%;
}

.comic-nav a {
    font-size: 1.8em;
    flex-grow: 1;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', serif;
    font-style: italic;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.comic-nav a:hover {
    background: rgb(192, 171, 158);
    color: white;
    text-shadow: none;
}


/* Comment styling */

.comments {
    margin: auto;
    max-width: 60%;
    padding: 1em;
}

.comment-policy {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: white !important;
}