:root {
    --color-bg: #555;
    --color-top: #666;
    --color-border: #999;
    --color-border2: #999;
    --color-text: #ccc;
    --color-link1: #ccc;
    --color-link2: #fff;
    --color-box: #555;
    --color-box2: #555;
    --color-storytime: #eee;
}