{% block footer %}
    <div id="footer" class="footer text-center">
        <hr>
           <p> <small>Template by Paula Vieira @ <a href="http://www.fanelorn.net">fanelorn.net</a>.</small></p>
           <br>
    </div>
{% endblock %}