<div class="flex-box">
        <div class="intro box" style="margin-top: 1em;">
        {{ page.content }}
        
        {% include 'partials/social.html.twig' %}
        
        </div>
</div>