{% extends 'partials/base.html.twig' %}

{% block content %}

{#
This makes the folder that holds the comic jump automaticly to the first page,
remove or comment this out and uncoment the below section if you want a list of pages
#}
  {{ redirect_me(page.children|first.url, 200) }}

{# 
  {% for p in page.collection %}
    <a href="{{ p.url }}">{{ p.title }}</a>
  {% endfor %}
#}
{% endblock %}